# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-specific directories
/_obj/
/_test/
/_testmain/

# Dependency directories
/vendor/
/Godeps/
/vendor/
/_vendor/

# Compiled Go code
*.a
*.o

# Output directories
/_bin/
/_pkg/
/_test/

# Exclude credentials.csv
credentials.csv
